.admin-login-page{

    min-height:100vh;

    background:#f5f7fb;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:120px 20px;
}

.admin-login-card{

    background:white;

    width:100%;

    max-width:500px;

    padding:45px;

    border-radius:18px;

    box-shadow:0 12px 30px rgba(0,0,0,.08);
}

.admin-login-card h1{

    text-align:center;

    color:#1e3a8a;

    margin-bottom:30px;
}

.admin-login-card input{

    width:100%;

    padding:14px 18px;

    margin-bottom:20px;

    border:1px solid #d1d5db;

    border-radius:10px;

    font-size:16px;

    outline:none;
}

.admin-login-card input:focus{

    border-color:#2563eb;
}

.admin-login-card button{

    width:100%;

    padding:15px;

    background:#1e3a8a;

    color:white;

    border:none;

    border-radius:10px;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;
}

.admin-login-card button:hover{

    background:#2563eb;
}